{% extends "layout.html" %}

{% block main %}
   <main class="container p-5">
       <table class="table table-striped">
           <thead>
               <tr>
                   <th>Symbol</th>
                   <th>Name</th>
                   <th>Shares</th>
                   <th>Price</th>
                   <th>TOTAL</th>
               </tr>
           </thead>
           <tfoot>
               <tr>
                   <td colspan="4"></td>
                   <td>${{ "%.2f"|format(total) }}</td>
               </tr>
           </tfoot>
           <tbody>
               {% for row in rows %}
               <tr>
                   <td>{{ row['symbol'] }}</td>
                   <td>{{ row['name'] }}</td>
                   <td>{{ row["shares"] }}</td>
                   <td>${{ row["price"] }}</td>
                   <td>${{ "%.2f"|format(row["total"]) }}</td>
               </tr>
               {% endfor %}
               <tr>
                   <td>CASH</td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td>${{ "%.2f"|format(cash) }}</td>
               </tr>
           </tbody>
       </table>
   </main>



{% endblock %}
